.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-container {
  display: flex;
}

.about-me {
  padding: 2%;
  margin-top: 60px;
  margin-left: 30px;
  height: 200px;
  width: 500px;
  background-color: #e6e6e6;
}

.about-me-title {
  font-size: 30px;
  text-align: start;
}

.about-me-content {
  text-align: start;
}

.image-wrapper {
  min-height: 400px;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
  .about-container {
     flex-direction: column;
  }

  .about-me {
    width: auto;
    height: auto;
    margin: 10px 0 10px 0;
  }
}

.contact {
  /* background-color: #E5E0DC; */
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-title {
  margin-top: 15px;
  font-size: 30px;
}

.contact-palette {
  background-color: #FFFFFF;
  height: 125px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}