.Explore {
  background-color: #FFFFFF;
  height: 100vh;
}

.has-margin-right {
  margin-right: 50px;
}

.gallery-menu {
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 200;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 5% 0 5%;
  background-color: #e4d7ce;
}

.menu-icon {
  display: none;
}

.gallery-menu-item {
  cursor: pointer;
  border-bottom: 2px solid #e4d7ce;
  transition: border-bottom 0.3s;
  color: rgb(56, 56, 56);
}

.gallery-menu-item-active {
  color: black;
  border-bottom: 2px solid black;
}

.gallery-menu-item:hover {
  border-bottom: 2px solid rgb(197, 197, 197);;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  justify-content: center;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  max-width: 1145px;
  min-width: 1145px;
  /* margin: 0.1% 10.3% 1% 10.3%; */
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 20%; /* IE10 */
  flex: 10%;
  max-width: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.column video {
  margin-top: 8px;
  vertical-align: middle;
}

.gallery-image {
  width: 220px
}
@media screen and (max-width: 420px) {
  .row {
    max-width: 375px;
    min-width: 375px;
    /* margin: 1% 0 1% 0; */
  }
  .media {
    width: 350px;
  }
  .menu-icon {
    display: block;
    float: right;
  }
  .gallery-menu-dropdown {
    position: absolute;
    right: 0;
    top: 50px;
    padding: 15px;
    background-color: #e4d7ce;
  }
  .gallery-menu {
    justify-content: space-between;
  }
  .gallery-menu-item {
    display: none;
  }
  .gallery-menu-item-active {
    display: block;
  }
}
@media screen and (min-width: 421px) and (max-width: 1000px) {
  .media {
    width: 200px;
  }
  .column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 31%;
  }
  .row {
    max-width: 650px;
    min-width: 650px;
    /* margin: 0.1% 10.3% 1% 10.3%; */
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.row {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.media {
  opacity: 1;
  display: block;
  width: 220px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15% 10% 15% 10%;
  box-sizing: border-box;
}

.media-container:hover .media {
  opacity: 0.3;
}

.media-container:hover .overlay {
  opacity: 0.8;
}
